<nav class="navbar navbar-expand navbar-light bg-light margin-bottom-1">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="pokemons">Pokémons</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="currency">Currency</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="banque">Banque</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
